// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body, html {
    height: 100%;
    width: 100%;
    margin: 0;

}
.bgimg-1 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/img/cyber.jpg");
    min-height: 100%;
}

.bg-black {
     background-color: #222121;
 }

.items-end {
    display: -webkit-box !important;
    -webkit-box-pack: end !important;
}


