// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$colo-bg: #222121;
body, html {
    height: 100%;
    width: 100%;
    margin: 0;

}
.bgimg-1 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/img/cyber.jpg");
    min-height: 100%;
}

.bg-black {
     background-color: $colo-bg;
 }

.items-end {
    display: -webkit-box !important;
    -webkit-box-pack: end !important;
}

.card{
    background-color: #343a40 ;
    color: white;
}

.btn-outline-warning:hover{
    background-color: #ffed4a;
    color: gray !important;

}



html {

    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    background-color: $colo-bg;
}
footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100vw;
    min-height: 15vh;
    color: white;
}

a{
    cursor: pointer;
}

hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double white;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    color: white !important;
}



